.container-PageTasksCompleted{
  background-color: #212121;
  padding: 2.4rem;
  border-radius: 16px;
  border: 1px solid #3f3f46;
  height: 90vh;
  width: 960px;
  display: flex;
  gap: 8px;
  display: flex;
  align-items: flex-start;
} 